body {
    background-color: grey;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    opacity: 0.2;
}