body {
    background-color: grey;
}
#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.square {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 30%;
    float: left;
    justify-content: center;
    align-content: center;
    font-size: 80px;
}
